$primary-color: #2268f5;
$secondary-color: #3498db;
$error-color: #ff0000;

$border-radius: 6px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-landing: 'Helvetica Neue', Arial, sans-serif;

$transition-speed: 0.2s;
$link-hover-darken: 5%;
