@import '../../assets/scss/variables';

.fileListContainer {
   margin-top: 1rem;

   h3 {
      color: $primary-color;
      margin-bottom: 20px;
   }

   .fileList {
      display: flex;
      flex-wrap: wrap;
      gap: $list-gap;
   }

   @media (max-width: 768px) {
      .fileList {
         flex-direction: column;
         gap: 20px;
      }
   }
}

.spinner {
   margin-top: 40px;
}
